<!DOCTYPE html>
<html lang="en">

<head>
    <title>Worst Website Ever</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/DownBadEmoji.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <div class="content">
        <h1 class="welcome-header">Welcome to the best website ever. Everything here is exactly as you requested. Thank
            so so so much for visiting. I really apreciate your devoted attention</h1>
    </div>
    <div class="hierarchy">
        <button class="links">This button will provide great luck to you and all your loved ones. The
            other buttons are also good too, this is just the best one. CLICK! CLICK! CLICK!</button>
        <button class="links">Click this button to send to 5 people. If you don't, you will die in 15 minutes. </button>
        <button class="links attention"><strong>CLICK ME NOW! - I CAN'T STRESS THIS ENOUGH - CLICK NOW IF YOU WANT TO
                SEE YOUR FAMILY AGAIN</strong></button>
        <button class="links">This is a very crucial link to the function of the site. You must first
            click the button for 40 seconds. If you let go before then, the time needed to click will double. If you
            <strong>DO
                NOT</strong> click the button you will not be able to access the rest of this amazing site.</button>
        <button class="links">Click here to view our Linktree containing our social media profiles and privacy
            policy</button>
    </div>
    <div>
        <img class="Arrow" src="/img/Arrow.png.png" alt="Arrow">
        <img class="FannyRock" src="/img/FannyRock.png" alt="FannyRock">
        <img class="SandmanMog" src="/img/SandmanMog.png" alt="SandmanMog">
    </div>
    <p class="bye">Thanks for visiting!</p>


</body>

</html>
