body {
    background: url('../img/BlurryPig.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgba(255, 0, 0, 0.634);
    font-family: Comic Sans MS, cursive, sans-serif;
    text-align: center;
    /*Space the text out*/
    letter-spacing: 20px;
}

.content {
    margin: 10px;
}

.hierarchy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    position: relative;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 50px;

}

button {
    border: 15px double red;
    padding: 80px;
    position: absolute;
    background-color: rgba(0, 255, 34, 0.5);
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    font-family: Comic Sans MS, cursive, sans-serif;
    color: red;

}

.hierarchy button {
    font-size: 10px;
}

.hierarchy button:nth-child(1) {
    top: 20vh;
    left: 5vw;
}

.hierarchy button:nth-child(2) {
    top: 600px;
    left: 10vw;
}

.hierarchy button:nth-child(3) {
    top: 1000px;
    padding-top: 100px;
    padding-bottom: 1000px;
    left: 15vw;
    right: 50vw;
    font-size: 50px;
    text-wrap: wrap;
}

.hierarchy button:nth-child(4) {
    top: 85vh;
    left: 80vw;
}

.hierarchy button:nth-child(5) {
    top: 400px;
    left: 5vw;
    bottom: 5vh;
    text-decoration: underline;
    font-size: 7px;
}

button:hover {
    background-color: rgb(0, 255, 247);
    color: rgb(0, 255, 98);
    transition: 0.1s;
}

.links {
    font-size: 24px;
    font-weight: bold;
}

.attention {
    font-size: 200px;
    text-decoration: underline;
    animation: blink 0.5s infinite alternate;
}

.welcome-header {
    font-size: 50px;
    animation: blink 0.25s infinite alternate, jiggle 0.2s infinite;
}

.bye {
    top: 400%;
    font-size: 30px;
    animation: jiggle 0.2s infinite, slant 0.5s infinite alternate;
}

h1 {
    font-size: 40px;
}

@keyframes jiggle {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-50px);
    }

    75% {
        transform: translateX(20px);
    }
}

@keyframes blink {
    from {
        color: yellow;
    }

    to {
        color: red;
    }
}

@keyframes slant {

    0%,
    100% {
        transform: skewX(270deg);
    }

    50% {
        transform: skewX(45deg);
    }
}

.FannyRock {
    position: absolute;
    top: 420px;
    width: 178px;
    height: 167px;
    z-index: 1;
}

.SandmanMog {
    position: relative;
    top: 369px;
    right: 369px;
    left: 369px;
    width: 44px;
    height: 44px;
    z-index: 1;
}

.Arrow {
    position: relative;
    float: left;
    rotate: 90deg;
    animation: jiggle 1s infinite;
}
